<header class="header">
    <ul class="header-ul">
        <li class="header-li">
            <a class="header-a" href="{{ url_for('home')}}">
                Home
            </a>
        </li>
        <li class="header-li">
            <a class="header-a" href="{{ url_for('dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="header-li">
            <a class="header-a" href="{{ url_for('dashboard')}}"> 
                Portifólio
            </a>
        </li>
    </ul>
</header>