.header{
    display: flex;
    width: 100%;
    height:50px;
    background-color: rgb(19, 92, 114);

}

.header-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.header-li{    
    margin:auto 20px;
}

.header-a{
    font-size:20px;
    text-decoration: none;
    color:rgb(139, 243, 212);
    
}