{% extends 'bases/modelTemplate.html' %}

{% block content %}
{% include 'partials/header.html' %}

  
        <form action="/cadastro" method="POST" class="form-container">
            <label>
                Usuário:
                <input type="text" name="home_user" placeholder="Digite um usuário"/>
            </label>

            <label>
                Senha:
                <input type="text" name="home_password" placeholder="Digite uma senha" />
            </label>
            <input type="submit" value="Registrar" >

        </form>


{% endblock %}